<div class="header">
  <h1>Wine List</h1>
</div></br>

<form action="/wines/new" class="addbutton">
  <button class="btn btn-success">Add a wine!</button>
</form></br>

<% @wines.each do |wine| %>
<div class="container row">
  <div class ="col-xs-8 entrycontainer">
    <div class ="col-xs-6">
      <div class = "entry">
        <ul>
          <strong> Name: </strong>
          <a href="/wines/<%= wine.id %>">
            <%= wine.name %> </br>
          </a>
          <strong> Year: </strong><%= wine.year %> </br>
          <strong> Vineyard: </strong> <%= wine.vineyard %> </br>
          <strong> Rating (1-5): </strong><%= wine.rating %> </br>
          <div class="rating">
            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </div>
          <strong> Price: </strong><%= wine.price %></br>
          <div class="indexpicture">
            <img src="<%= wine.photo_url %>">
          </div>
        </ul>
      </div>
    </div>
    <div class ="col-xs-6 entrydescription">
      <strong>Experience:</strong> <%= wine.description %> </br>
      <h4>Created on: <%= wine.created_at.strftime("%A, %d %b %Y %l:%M %p")%>  </h4>
      <h4>Posted by: <%= wine.user %></h4>
    </div>
  </div>
</div>

<% end %>
