<h2>Wine List</h2>

<% @wines.each do |wine| %>
  <ul>
    <li>
      <a href="/wines/<%= wine.id %>">
        <%= wine.name %> </br>
      </a>
      <%= wine.year %> </br>
      <%= wine.vineyard %> </br>
      <%= wine.rating %> </br>
      <%= wine.description %> </br>

    </li>
  </ul>

<% end %>
