<div class="header">
  <h1>Wine List</h1>
</div></br>

<form action="/wines/new" class="addbutton">
  <button>Add a wine!</button>
</form></br>

<% @wines.each do |wine| %>
<div class="row">
  <div class ="col-xs-8 entrycontainer">
    <div class ="col-xs-6">
      <div class = "entry">
        <ul>
          <strong> Name: </strong>
          <a href="/wines/<%= wine.id %>">
            <%= wine.name %> </br>
          </a>
          <strong> Year: </strong><%= wine.year %> </br>
          <strong> Vineyard: </strong> <%= wine.vineyard %> </br>
          <strong> Rating (1-10): </strong><%= wine.rating %> </br>
          <strong> Price: </strong><%= wine.price %></br>
          <div class="indexpicture">
            <img src="<%= wine.photo_url %>">
          </div>
        </ul>
      </div>
    </div>
    <div class ="col-xs-6 entrydescription">
      <strong>Experience:</strong> <%= wine.description %> </br>
    </div>
  </div>
</div>

<% end %>
