<h2>Wine List</h2>

<form action="/wines/new">
  <button>Add a wine!</button>
</form>

<% @wines.each do |wine| %>
  <ul>
    <li>
      Name:
      <a href="/wines/<%= wine.id %>">
        <%= wine.name %> </br>
      </a>
      Year: <%= wine.year %> </br>
      Vineyard: <%= wine.vineyard %> </br>
      Rating: <%= wine.rating %> </br>
      Description: <%= wine.description %> </br>
      Price: <%= wine.price %> 

    </li>
  </ul>

<% end %>
