<div class = "col-xs-6">
  <div class="entryshow">
    <p id="entrytitle"><strong><%= @wine.year %>  <%= @wine.name %></strong></p>
    <div class="row">
      <div class="col-xs-6">
        <p class="content"><strong>Vineyard: </strong><%= @wine.vineyard %></p>
        <p class="content"><strong>Price: </strong><%= @wine.price %></p>
        <p class="content"><strong>Rating (1-5): </strong><%= @wine.rating %></p>
      </div>
      <div class="col-xs-2 col-xs-offset-2">
        <div class="show_pic">
          <img src="<%= @wine.photo_url %>">
        </div>
      </div>
    </div>
    <p id="entryexp"><strong>Experience:</p>
    <p></strong><blockquote id="experiencetext"><%= @wine.description %></blockquote></p>
    <p id="timestamps"><strong>Posted By: </strong><%= @wine.user %>, <strong>Entry Created: </strong><%= @wine.created_at %></p></br></br>
    <div class = "row">
      <div class = "col-xs-4">
        <form action='/wines'>
          <button> Back to Winelist </button>
        </form>
      </div>
      <div class = "col-xs-4">
        <form action='/wines/<%= @wine.id %>/edit' method='get'>
          <button> Edit Wine Entry</button>
        </form>
      </div>
      <div class = "col-xs-4">
        <form action='/wines/<%= @wine.id %>/delete' method='post'>
          <button> Delete Wine Entry </button>
        </form>
      </div>
    </div>
  </div>
</div>
